{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "8.9.0"
				},
				"exclude": [
					"transform-regenerator"
				],
				"useBuiltIns": {
					"polyfill": false,
					"regenerator": false,
				}
			}
		],
		"@babel/stage-0"
	],
	"plugins": [
		"@babel/plugin-syntax-jsx",
		"@babel/plugin-transform-react-jsx",
		"@babel/plugin-transform-react-display-name",
		"@babel/plugin-transform-react-jsx-self",
		"@babel/plugin-transform-react-jsx-source",
	// 	["@babel/plugin-proposal-object-rest-spread"],
	// 	["@babel/transform-modules-commonjs", {}],
	// 	["@babel/transform-regenerator"]
	]
}
